@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
